<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1><%= studentName %></h1>
    <div class="wrap">
        <div id="left">
            <ul id="ul_left" class="good">
                <% for (let activity of goodActivity[0].goodActivity) { %>
                        <li> <%= activity %> </li>
                <% } %>
            </ul>
        </div>
        <div id="right">
            <ul id="ul_left" class="bad">
                <% for (let activity of badActivity[0].badActivity) { %>
                        <li> <%= activity %> </li>
                <% } %>
            </ul>
        </div>
    </div>
    <h1>Add activity:</h1>
    <form method="post" id="formActivity">
        <input type="radio" name="activityType" value="good" checked> Good
        <br><br>
        <input type="radio" name="activityType" value="bad"> Bad
        <br><br>
        <input type="text" name="activityDiscription" id="activityDiscription" autocomplete="off">
        <br><br>
        <input type="hidden" name="studentName" value="<%= studentName %>">
        <input type="hidden" name="grade" value="<%= grade %>">
        <input type="hidden" name="class_" value="<%= class_ %>">
        <input type="hidden" name="updated" value="true">
        <input type="submit" name="submit" id="submitID" value="Add">
    </form>
    <div id="buttonDiv">
        <form id="invisibleFormID" method="post" action="class">
            <input type="hidden" name="grade" value="<%= grade %>">
            <input type="hidden" name="class" value="<%= class_ %>">
            <input type="submit" name="submit" id="submitID" style="background-color: #CE2029;" value="Back">
        </form>
    </div>
    <script>
        const form = document.getElementById('formActivity');
        const activityDiscription = document.getElementById('activityDiscription');
        const submit = document.getElementById('submitID');

        console.log(activityDiscription.value === '');

        submit.addEventListener('click', () => {
            const activity = activityDiscription.value.trim(' ');
            if (activity == '') {
                event.preventDefault();
                window.alert('Add activity discription!')
            }
        });
    </script>
</body>
</html>